{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Все статьи</title>
{% endblock %}
{% block styles %}
	<style type="text/css">
		#post-link:hover{
			color: #2868D9;
		}
	</style>
{% endblock %}
{% block content %}

	<div class="container-fluid" style="margin-top: 25px;">
		<div class="row">
			{% for post in posts %}
				<div class="col-md-4 mb-4" style="">
					{% if forloop.counter > 3 %}
						<hr>
					{% endif %}
					<div class="container" style="">
						<center>
							{% if post.image %}
								<a href="{{ post.get_absolute_url }}"><img class="card-img-top" src="/media/{{ post.image }}" height="300px" width="300px" style="border-radius: 15px;"></a>
							{% else %}
								<a href="{{ post.get_absolute_url }}"><img class="card-img-top" src="{% static 'img/default.jpg' %}" height="300px" width="300px" style="border-radius: 15px;"></a>
							{% endif %}
						</center>
						
						<div style="margin-top: 5px; font-size: 30px;">
							<center><label><strong><a href="{{ post.get_absolute_url }}" id="post-link" style="color: #343940;">{{ post.post_title }}</a></strong></label></center>
						</div>
						<div style="">
							<center><span style="font-size: 20px;">{{ post.content|slice:":100" }}...</span></center>
						</div>
						<div style="margin-top: 15px;">
							<center>
								{% for tag in post.tags.all %}
									<a href="{{ tag.get_absolute_url }}" style="color: #343940;">{{ tag.tag_title }}</a>
								{% endfor %}
							</center>
						</div>
					</div>
					<center><span>{{ post.date_pub }}</span></center>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}
