{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>{{ post.post_title }}</title>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
	{% if post.image %}
		<style>
			.image {
				position: relative;
				width: 100%;
			}

			h2 {
				position: absolute;
				top: 200px;
				left: 0;
				width: 100%;
			}

			h2 span {
				opacity: 0.8;
				color: white;
				font: bold 24px/45px Helvetica, Sans-Serif;
				letter-spacing: -1px;
				background: rgba(0, 0, 0, 0.7);
				padding: 10px;
			}

			h2 span:hover{
				opacity: 1;
			}
			
		</style>

		<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
			<div class="image darkened">
				<img src="{{ post.image.url }}" height="400px" width="100%" style="image-rendering: optimizeQuality;">
				<center><h2><span>{{ post.post_title }}</span></h2></center>
			</div>
		</div>
	{% endif %}
	<div class="container-fluid">
		<div class="container" style="margin-bottom: 20px; {% if not post.image %}margin-top: 15px;{% endif %} min-height: 770px;">
			<div class="card">
				{% if not post.image %}
					<div class="card-header text-center"><h2><strong>{{ post.post_title }}</strong></h2></div>
				{% endif %}
				<div class="card-body"><span>{{ post.content }}</span></div>
			</div>
		</div>
	</div>
{% endblock %}
