{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Изменение {{ form.title }}</title>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<form method="post">
			{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						{% if field.label != 'Content' %}
							<label>{{ field.label }}</label>
						{% endif %}

						{{ field }}

						{% if field.errors %}
  							<div class="alert alert-danger" role="alert">
  								{{ field.errors }}
  							</div>
  						{% endif %}
					</div>
				{% endfor %}
			<button type="submit" value="Update" class="btn btn-primary">Сохранить изменения</button>
		</form>
	</div>
{% endblock %}